*{
	font-family: Montserrat;
}

h1{
	text-align: center; 
	background-color: black;
	color: white;
	padding:20px;
}
hr{
	border:2px solid black;
	width: 50%;
}
p{
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 75px;
	color: purple;
	text-align: center;
}
header{
	background-color: grey;
	padding: 1px;
}
ul{
	list-style: none;
}
li{
 	display: inline;
 	margin: 100px;
}
li a{
	color: white;
	text-decoration:none; 
}
li a:hover{
	color: purple;
}
